<md-dialog class="projectEdit" aria-label="project" ng-controller="projectsCtrl">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>EDIT</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('close')">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout="row" layout-wrap>
      <div flex>
        <md-input-container>
          <label>Name</label>
          <input ng-model="projectEdit.project_name">
        </md-input-container>
        <md-input-container>
          <label>Planed Expenses</label>
          <input ng-model="projectEdit.cost_expense_planned_cache">
        </md-input-container>
      </div>
      <div flex="5">
      </div>
      <div flex>
        <md-input-container>
          <label>Start date</label>
          <input type="date" ng-model="projectEdit.start_date">
        </md-input-container>
        <md-input-container>
          <label>End date</label>
          <input type="date" ng-model="projectEdit.end_date">
        </md-input-container>
      </div>
    </div>
    <div layout="row">
      <md-chips
        ng-model="fruitNames"
        readonly="readonly"
        placeholder="Enter a tag"
        delete-button-label="Remove Tag"
        delete-hint="Press delete to remove tag"
        secondary-placeholder="+Tag"></md-chips>
    </div>
    <div layout="row">
      <md-input-container>
        <label>Description</label>
        <input type="text" class="note" ng-model="projectEdit.note">
      </md-input-container>
    </div>
    <div layout="row">
      <div flex class="progress" ng-controller="statusCtrl">
        <label>Progress</label>
        <!-- <md-progress-linear class="md-accent" md-mode="{{mode}}" value="{{determinateValue}}"></md-progress-linear> -->
        <md-progress-linear md-mode="determinate" value="{{projectEdit.percent_completed}}"></md-progress-linear>
      </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('cancel', projectEdit)" class="md-warn">
     cancel
    </md-button>
    <md-button ng-click="answer('save')" class="md-raised md-primary">
      save
    </md-button>
  </div>
  </form>
</md-dialog>
