html, body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.home md-card {
  height: 500px;
	display: inline-block;
	overflow: hidden;
}

.progress h4 {
  margin: 10px 0;
}
.progress md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px;
}

.loading {
  margin-left: 50%;
  margin-top: 300px;
}

.adding {
	/*background: #84ffff;*/
	background: rgba(33,150,243,0.71) url('/images/icons/tm-pattern.png');
	color: white;
}
.adding	md-input-container .md-input {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
.adding md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: rgba(255, 255, 255, 0.54);
}

.adding md-input-container {
	width: 100%;
}
.adding .note {
	width: 100%;
  	height: 200px;
  	word-break: break-all;
}
.adding .btn {
	margin-left: 450px;
	margin-top: 20px;
}

.scrolling {
	height: 86vh;
    padding: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.md-icon-button img {
	vertical-align: middle;
}

.md-fab img{
	vertical-align: middle;
}

.user{
	vertical-align: middle;
}
.user .user-icon {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin: 15px;
	float: left;
}
.user h3{
	vertical-align: middle;
	float: left;
	font-size: 17px;
}

.minimize {
	margin-left: -305px;
	transition: ease all 0.5s;
}

.active {
	background: #B6B6B6;
}

.error {
	text-align: center;
	vertical-align: middle;
}
.error h1 {
	font-size: 200px;
	text-shadow: 10px 10px 10px #d1d0d0;
}

.error h2 {
    font-size: 50px;
}

ul {
    margin: 0;
    padding: 0;
}
ul li>ul>li{
    padding-left: 20px;
}