body {
	margin: 0;
	padding: 0;
}

.home md-card {
  height: 500px;
	display: inline-block;
	overflow: hidden;
}
.home md-card .md-actions {

}

.progress h4 {
  margin: 10px 0;
}
.progress md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px;
}
