.user{
    vertical-align: middle;
    color: white;
    background: #B6B6B6 !important;
}
.user .user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 15px;
    float: left;
}
.user h3{
    vertical-align: middle;
    float: left;
    font-size: 17px;
}

.minimize {
    margin-left: -305px;
    transition: ease all 0.5s;
}

.side-color {
    background: #B6B6B6 !important;
}

ul {
    margin: 0;
    padding: 0;
}

li md-menu-item>.md-button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -3px;
    left: 0;
    margin-top:5px;
    background-color: #ffffff;
    visibility: hidden;
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li md-menu-item>.md-button:hover:before {
    visibility: visible;
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

ul md-menu-item>.md-button {
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    text-align: start;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    display: inline-block;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: left;
    -ms-flex-line-pack: left;
    align-content: left;
    width: 100%;
}

.active {
    background-color: rgb(68,138,255);
}