.taskslist md-whiteframe {
	background: #fff;
  	margin: 20px;
	padding: 20px;
	min-height: 150px;
}

.taskslist .task {
  	width: 100%;
  	height: 100%;
		overflow: hidden;
  	display: inline-block;
}

.taskslist .content {
		font-size: 17px;
  	float: left;
		/*min-height: 150px*/
}
.taskslist .content>div{
  	margin-bottom: 5px;
}
.taskslist .content .name{
	font-size: 24px;
}

.taskslist .task-buttons {
	float: right;
}

.tasks {
	width: 100%;
	float: right;
}

.sub-task {
	margin-left: 200px !important;
	margin-top: -15px !important;
	background-color: #ECECEC !important;
}
