<div class="scrolling home">
    <md-grid-list md-cols-sm="1" md-cols-md="1" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height-lg="1:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="8px" >

        <md-grid-tile class="blue" md-rowspan="3" md-colspan="5" md-colspan-sm="1">
            <md-grid-tile-footer>
                <h3>Tasks Graph</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="yellow" md-rowspan="3" md-colspan="5" md-colspan-sm="1">
            <md-grid-tile-footer>
                <h3>Tasks Graph</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="red" md-rowspan="3" md-colspan="5" md-colspan-sm="1">
            <md-grid-tile-footer>
                <h3>Tasks Graph</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="gray" md-rowspan="3" md-colspan="5" md-colspan-sm="1">
            <!--<nvd3 options="options" data="data"></nvd3>-->
            <md-grid-tile-footer>
                <h3>Tasks Graph</h3>
            </md-grid-tile-footer>
        </md-grid-tile>

    </md-grid-list>
</div>
