<div class="loading" ng-show="status">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div class="projectlist" ng-hide="status">

  <md-button class="md-fab add-btn" ng-click="showAddProject($event)" aria-label="Eat cake">
    <img src="images/icons/tm-add.png" alt=""/>
  </md-button>

  <div flex class="scrolling">
    <div class="projects" ng-repeat="project in projects | filter: search">
      <project-box project="project"></project-box>
    </div>
  </div>

</div>
