<div class="loading" ng-show="status">
  <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>

<div layout="column" class="taskslist" ng-hide="status">
  <div layout="row" layout-wrap>
    <div flex="33" class="adding">
      <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
        <div flex="33">
          <md-input-container>
            <label>Search</label>
            <input ng-model="search">
          </md-input-container>
        </div>
      </md-content>
      <md-dialog-content>
        <div layout="row" layout-wrap layout-margin>
          <div flex>
            <md-input-container>
              <label>Name</label>
              <input ng-model="taskAdd.task">
            </md-input-container>
            <md-input-container>
              <label>Assigned</label>
              <input ng-model="taskAdd.username">
            </md-input-container>
          </div>
          <div flex="5">
          </div>
          <div flex>
            <md-input-container>
              <label>Start date</label>
              <input type="date" ng-model="taskAdd.start_date">
            </md-input-container>
            <md-input-container>
              <label>End date</label>
              <input type="date" ng-model="taskAdd.end_date">
            </md-input-container>
          </div>
          <md-input-container>
            <label>Description</label>
            <input type="text" class="note" ng-model="taskAdd.note">
          </md-input-container>
        </div>
        <div layout="row">
          <div class="btn">
            <md-button class="md-fab">
              <img src="images/icons/tm-add.png"></img>
            </md-button>
          </div>
        </div>
      </md-dialog-content>
    </div>
    <div flex="66" class="scrolling">
      <md-whiteframe ng-repeat="task in tasks | filter: search" class="md-whiteframe-z3" layout>
        <div class="task">

          <div class="content">
            <div><strong>Name</strong> {{task.task}}</div>
            <div><strong>Company</strong> {{task.company}}</div>
            <div><strong>Email</strong> {{task.username}}</div>
          </div>

          <section class="buttons">
            <md-button ng-click="showEditTask($event, task.id)" class="md-icon-button md-primary" aria-label="Settings">
              <md-tooltip>
                Edit
              </md-tooltip>
              <img src="images/icons/tm-pencil.png"></img>
            </md-button>
            <md-button ng-click="showDeleteTask($event, task.id)" class="md-icon-button md-primary" aria-label="Settings">
              <md-tooltip>
                Delete
              </md-tooltip>
              <img src="images/icons/tm-delete.png"></img>
            </md-button>
            <!-- <md-button class="md-raised md-primary" ng-click="showEditTask($event, task.id)">edit</md-button>
            <md-button class="md-raised md-warn" ng-click="showDeleteTask($event, task.id)">delete</md-button> -->
          </section>

        </div>
        <div class="status-{{task.status}}"></div>
      </md-whiteframe>
    </div>

  </div>
</div>
