<div>
  <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
    <div flex="33">
      <md-input-container>
        <label>Search</label>
        <input ng-model="search">
      </md-input-container>
    </div>
  </md-content>
</div>

<div md-content>
  <md-list-item class="md-3-line" ng-repeat="user in users | filter: search">
    <img ng-src="{{user.face}}" class="md-avatar" alt="{{user.who}}" />
    <div class="md-list-user-text">
      <h3>{{ user.name }}</h3>
      <h4>{{ user.email }}</h4>
      <p>{{ user.status }}</p>
    </div>

    <md-divider ></md-divider>
  </md-list-item>
</div>
