<md-dialog class="taskEdit" aria-label="task" ng-controller="tasksCtrl">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>EDIT TASK #{{taskEdit.id}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer('close')">
        <img src="images/icons/tm-close.png" aria-label="Close dialog">
      </md-button>
    </div>
  </md-toolbar>
    <md-dialog-content>
      <div layout="row" layout-wrap layout-margin>
        <div flex>
          <md-input-container>
            <label>Name</label>
            <input ng-model="taskEdit.task">
          </md-input-container>
        </div>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <div flex>
          <md-select name="material" placeholder="Material" ng-model="taskEdit.material" style="min-width: 200px;">
            <md-option ng-repeat="material in materials" value="{{material.id}}">{{material.name}}</md-option>
          </md-select>
        </div>
        <div flex>
          <md-select name="cost-center" placeholder="Cost center" ng-model="taskEdit.cost" style="min-width: 200px;">
            <md-option ng-repeat="cost in costs" value="{{cost.id}}">{{cost.name}}</md-option>
          </md-select>
        </div>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <div flex>
          <md-select name="status" placeholder="Status" ng-model="taskEdit.status" style="min-width: 200px;">
            <md-option ng-repeat="status in states" value="{{status.id}}">{{status.name}}</md-option>
          </md-select>
        </div>
        <div flex>
          <md-select name="uom" placeholder="Unit of measure" ng-model="taskEdit.uom" style="min-width: 200px;">
            <md-option ng-repeat="uom in unitsOfMeasures" value="{{uom.id}}">{{uom.name}}</md-option>
          </md-select>
        </div>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <div flex>
          <md-input-container>
            <label>Planed units</label>
            <input ng-model="taskEdit.planed_units">
          </md-input-container>
        </div>
        <div flex>
          <md-input-container>
            <label>Billed hours</label>
            <input ng-model="taskEdit.billed_hours">
          </md-input-container>
        </div>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Completed</span>
        </div>
        <md-slider flex class="md-primary" md-discrete ng-model="taskEdit.percent_completed" step="20" min="0" max="100" aria-label="rating">
        </md-slider>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <md-input-container>
          <label>Description</label>
          <input type="text" class="note" ng-model="taskEdit.note">
        </md-input-container>
      </div>
      <div layout="row" layout-wrap layout-margin>
        <div flex>
          <md-input-container>
            <label>Start date</label>
            <input type="text" ng-model="taskEdit.start_date">
          </md-input-container>
        </div>
        <div flex>
          <md-input-container>
            <label>End date</label>
            <input type="text" ng-model="taskEdit.end_date">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('cancel')" class="md-warn">
     cancel
    </md-button>
    <md-button ng-click="answer('save')" class="md-raised md-primary">
      save
    </md-button>
  </div>
  </form>
</md-dialog>
