<div>
    <ul>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="home">
                    Home
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="projects">
                    Projects
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="users">
                    Users
                </md-button>
            </md-menu-item>
        </li>
        <li>
            <md-menu-item>
                <md-button ui-sref-active="active" ui-sref="companies">
                    Companies
                </md-button>
            </md-menu-item>
            <ul>
                <li>
                    <md-menu-item>
                        <md-button ui-sref-active="active" ui-sref="companies">
                            Companies
                        </md-button>
                    </md-menu-item>
                </li>
                <li>
                    <md-menu-item>
                        <md-button ui-sref-active="active" ui-sref="companies">
                            Companies
                        </md-button>
                    </md-menu-item>
                </li>
            </ul>
        </li>
    </ul>
</div>